<div class="cover">
    <ul>
      <li><strong>Name</strong></li>
      <li><strong>Cover Letter</strong></li>
      <li><strong>Resume</strong></li>
    </ul>
</div>
<div class="app-data">
    <br/>
    <% @applications.each do |application| %>
    <ul>
        <li><%= application.user.full_name %></li>
        <li><%= application.title %></li>
        <li><%= application.cover_letter %>></li>
        <li><img src="/<%= application.resume %>" id="resume"></li>
        <li><%= application.additional_information %></li>
        <li><%= link_to "Show #{application.additional_information}", application_path(application) %></li>

    </ul>
    <% end %>
</div>
<br>

<%=  link_to "Create a New Application", new_application_path %>